
<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- <span>Hola mundo!</span> -->
            <app-gpt-message text="Cual es el audio que deseas pasar a textoo?"/>

            @for (message of messages(); track $index) {

                @if (message.isGpt) {
                    <app-gpt-message [text]="message.text"/>
                }
                @else {
                    <app-my-message [text]="message.text"/>
                }
            }  

            @if (isLoading()) {
                <app-typing-loader />
            }
        </div>
    </div>
    <app-text-messagebox-file placeholder="Escribe aqui lo que deseas" (onMessage)="handleMessageWithFile($event)"/>
</div>
